extends base

block css_block
  // required css files
  link(href='/public/css/broadcast.min.css' type='text/css' rel='stylesheet')

block content
  div(ng-controller="broadcastCtrl as ctrl" ng-init="ctrl.init('#{user_type}')")
    div(class="container text-center")
      input(class="btn btn-secondary" type="button" ng-click="localStream.toggleCam()" ng-value="[[ ctrl.cameraIsOn ? 'Stop' : 'Start' ]]")
      hr
      div(class="col-lg-12")
        video(id="localVideo" class="col-xs-12" ng-class="ctrl.isStartRecordingBtnDisabled ? 'is_recording' : 'is_not_recording' " muted="muted" autoplay="true")

block js_block
  // for IE 11 or browser is not IE
  script(type="text/javascript" src="/public/js/broadcast.min.js")

  // for lt IE 9
  <!--[if lt IE 9]>
  <script type="text/javascript" src="/public/js/broadcast.min.js"></script>
  <![endif]-->
