extends base

block css_block
  // required css files
  link(href='/public/css/watcher.min.css' type='text/css' rel='stylesheet')

block content
  div(ng-controller="watcherCtrl as ctrl")
    div(class="container text-center")
      p Hello Watcher

block js_block
  // for IE 11 or browser is not IE
  script(type="text/javascript" src="/public/js/watcher.min.js")

  // for lt IE 9
  <!--[if lt IE 9]>
  <script type="text/javascript" src="/public/js/watcher.min.js"></script>
  <![endif]-->
