/**/
html,body{
  height: 100%;
}
.is_recording{
  -webkit-animation: shadow_alert 3s inifite;
  -moz-animation: shadow_alert 3s inifite;
  animation: shadow_alert 3s inifite;
}
.is_not_recording{
  box-shadow: 0px 0px 0px;
}
.video_container{
  height: 100%;
}
